[submodule "luasec/src/main/boringssl"]
	path = luasec/src/main/boringssl
	url = https://github.com/qtiuto/boringssl.git
[submodule "luaffi"]
	path = luaffi
	url = https://github.com/qtiuto/luaffi.git
